@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('fonts/ACaslonPro-Bold.woff2') format('woff2'),
        url('fonts/ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*{
    padding: 0;
    margin: 0;
}
body{
    color: rgba(255,254,251, 0.895);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, 1fr);
    gap: 10px;
   
}
.grid>*, .grid__img-4>*{
    border-radius: 10px;
}
.grid__img-1{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    background-image: url("images/anh-nguyen.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}
.grid__img-1 h1{
    font-family: 'Adobe Caslon Pro';
    font-weight: 700;
}
.grid__img-2{
 background-image: url("images/eiliv-aceron.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 grid-column:1;
 grid-row: 2;
 
}
.grid__img-3{

 background-image: url("images/victoria-shes.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 grid-column:2;
 grid-row: 2;
}
.grid__img-4{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    grid-row: 3;
}
.grid__img-4__one{
    background-image: url(images/joseph-gonzalez.jpg);
    background-size: cover;

}
.grid__img-4__two{
    background-image: url(images/lily-bans.jpg);
    background-size: cover;
}
.grid__img-4__three{
    background-image: url(images/mae-mu.jpg);
    background-size: cover;
}
.grid__img-4__four{
    background-image: url(images/sheri-silver.jpg);
    background-size: cover;
}
.grid__img-5{
    background-image: url(images/melissa.jpg);
    background-size: cover;
    grid-column:3;
    grid-row: 2/4;
}
.flex{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.wrapper{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
}

.wrapper h2{
    font-weight:700;
}

button{
    background-color: #43efe1;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 15px;
    transition: 1.8s ease-in-out;
}
button:hover{
    background-color: #ffffff58;
    font-size: 1rem;
    
}